.panel-heading h4 {
    margin: 0px;
    font-weight: 500;
}

.nav-tabs {
    margin-bottom: 10px;
}

.pre-render {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
}

.note {
    margin-top: 15px;
}