<script>viewModel.title('Daily Sales Analysis')</script>

<!-- kendoui -->
<script src="/static/3rdparty/kendoui/js/kendo.all.min.js"></script>
<link rel="stylesheet" href="/static/3rdparty/kendoui/styles/kendo.material.min.css">
<link rel="stylesheet" href="/static/3rdparty/kendoui/styles/kendo.common-bootstrap.min.css">
<link rel="stylesheet" href="/static/3rdparty/kendoui/styles/kendo.dataviz.min.css">
<link rel="stylesheet" href="/static/3rdparty/kendoui/styles/kendo.dataviz.bootstrap.min.css">

<!-- lodash -->
<script src="/static/3rdparty/lodash/lodash.js"></script>

<!-- knockout-kendo -->
<script src="/static/3rdparty/knockout-kendo/knockout-kendo.min.js"></script>

<!-- momentjs -->
<script src="/static/3rdparty/momentjs/moment.js"></script>

<!-- core -->
<script src="{{ NoCacheUrl "/static/core/js/dailysalesanalysis.js" }}"></script>
<link rel="stylesheet" href="{{ NoCacheUrl "/static/core/css/dailysalesanalysis.css" }}" />

<div class="row">

    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a role="tab" data-toggle="tab" href="#october" onclick="dsa.monthMode('october')">October</a>
            </li>
            <li>
                <a role="tab" data-toggle="tab" href="#september" onclick="dsa.monthMode('september')">September</a>
            </li>
            <li>
                <a role="tab" data-toggle="tab" href="#august" onclick="dsa.monthMode('august')">August</a>
            </li>
        </ul>
    </div>

    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Daily Sales Analysis</h4>

                <button class="btn-sm btn btn-primary" onclick="dsa.toggleFilter(this)">
                    <i class="fa fa-filter"></i>&nbsp; Toggle filter
                </button>
            </div>
            <div class="panel-body">

                <div class="row navigation pre-render">
                    <div class="col-md-12 no-padding-left">
                            
                        <div class="col-md-3 no-padding-right">
                            <label>Sales Org</label>
                            <div>
                                <select data-bind="kendoMultiSelect: { data: dsa.masterSalesOrg, value: dsa.filterSalesOrgSelected, change: dsa.refreshChartDailySalesAnalysis, placeholder: 'Select items' }" style="width: 100%;"></select>
                            </div>
                        </div>

                        <div class="col-md-3 no-padding-right">
                            <label>Geo Market</label>
                            <div>
                                <select data-bind="kendoMultiSelect: { data: dsa.masterGeoMarket, value: dsa.filterGeoMarketSelected, change: dsa.refreshChartDailySalesAnalysis, placeholder: 'Select items' }" style="width: 100%;"></select>
                            </div>
                        </div>

                        <div class="col-md-3 no-padding-right">
                            <label>Sub Geo Market</label>
                            <div>
                                <select data-bind="kendoMultiSelect: { data: dsa.masterSubGeoMarket, value: dsa.filterSubGeoMarketSelected, change: dsa.refreshChartDailySalesAnalysis, placeholder: 'Select items' }" style="width: 100%;"></select>
                            </div>
                        </div>

                        <!-- <div class="col-md-3 no-padding-right">
                            <label>Performing Orgs</label>
                            <div>
                                <select data-bind="kendoMultiSelect: { data: dsa.masterPerformingOrganization, value: dsa.filterPerformingOrganizationSelected, change: dsa.refreshChartDailySalesAnalysis, placeholder: 'Select items' }" style="width: 100%;"></select>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-3 no-padding-right">
                            <label>Profit Centres</label>
                            <div>
                                <select data-bind="kendoMultiSelect: { data: dsa.masterProfitCenter, value: dsa.filterProfitCenterSelected, change: dsa.refreshChartDailySalesAnalysis, placeholder: 'Select items' }" style="width: 100%;"></select>
                            </div>
                        </div> -->

                        <div class="col-md-3 no-padding-right">
                            <label>Sub product line</label>
                            <div>
                                <select data-bind="kendoMultiSelect: { data: dsa.masterSubProductLine, value: dsa.filterSubProductLineSelected, change: dsa.refreshChartDailySalesAnalysis, placeholder: 'Select items' }" style="width: 100%;"></select>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <!-- <div class="col-md-3 no-padding-right">
                            <label>Creator</label>
                            <div>
                                <select data-bind="kendoMultiSelect: { data: dsa.masterCreatedBy, value: dsa.filterCreatedBySelected, change: dsa.refreshChartDailySalesAnalysis, placeholder: 'Select items' }" style="width: 100%;"></select>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-3 no-padding-right">
                            <label>Material Group</label>
                            <div>
                                <select data-bind="kendoMultiSelect: { data: dsa.masterMaterialGroup1, value: dsa.filterMaterialGroup1Selected, change: dsa.refreshChartDailySalesAnalysis, placeholder: 'Select items' }" style="width: 100%;"></select>
                            </div>
                        </div> -->

                        <div class="col-md-3 no-padding-right">
                            <label>Sales Order Type</label>
                            <div>
                                <select data-bind="kendoMultiSelect: { data: dsa.masterSalesOrderType, value: dsa.filterSalesOrderTypeSelected, change: dsa.refreshChartDailySalesAnalysis, placeholder: 'Select items' }" style="width: 100%;"></select>
                            </div>
                        </div>

                        <div class="col-md-3 no-padding-right">
                            <label>Rejection Status</label>
                            <div>
                                <select data-bind="kendoMultiSelect: { data: dsa.masterRejectionStatus, value: dsa.filterRejectionStatusSelected, change: dsa.refreshChartDailySalesAnalysis, placeholder: 'Select items' }" style="width: 100%;"></select>
                            </div>
                        </div>

                        <!-- <div class="col-md-3 no-padding-right">
                            <label>Requested Delivery Date - Start</label>
                            <div>
                                <input data-bind="kendoDatePicker: { value: dsa.filterRequiredDeliveryDateStart, change: dsa.refreshChartDailySalesAnalysis }" style="width: 100%;"/>
                            </div>
                        </div>

                        <div class="col-md-3 no-padding-right">
                            <label>Finish</label>
                            <div>
                                <input data-bind="kendoDatePicker: { value: dsa.filterRequiredDeliveryDateFinish, change: dsa.refreshChartDailySalesAnalysis }" style="width: 100%;"/>
                            </div>
                        </div> -->

                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="chart-analysis"></div>

                <!-- <p class="note" data-bind="visible: dsa.monthMode() == 'august'">Inclusive of $19,531 of sales with required delivery date for the month of July.</p> -->
            </div>
        </div>
    </div>

    <div class="col-md-3 no-padding-left">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Insights</h4>
            </div>
            <div class="panel-body">

                <div class="row navigation">
                    <div class="col-md-12">
                        <label>Group</label>
                        <div>
                            <select data-bind="kendoDropDownList: { data: dsa.filterInsightGroup, value: dsa.filterInsightGroupSelected, dataValueField: 'value', dataTextField: 'text', change: dsa.refreshChartDailySalesInsights }" style="width: 100%;"></select>
                        </div>
                    </div>
                </div>

                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a role="tab" data-toggle="tab" href="#actualforecast" onclick="dsa.insightMode('actualforecast')">
                            Actual Vs Forecast
                        </a>
                    </li>
                    <li>
                        <a role="tab" data-toggle="tab" href="#monthversus" onclick="dsa.insightMode('monthversus')" data-bind="text: dsa.insightModeMonthVersusLabel, visible: dsa.monthMode() != 'august'">
                            Oct vs Sep
                        </a>
                    </li>
                </ul>

                <div class="chart-insights"></div>
            </div>
        </div>
    </div>
</div>