<script>viewModel.title('Daily Sales Analysis')</script>

<!-- kendoui -->
<script src="/static/3rdparty/kendoui/js/kendo.all.min.js"></script>
<link rel="stylesheet" href="/static/3rdparty/kendoui/styles/kendo.material.min.css">
<link rel="stylesheet" href="/static/3rdparty/kendoui/styles/kendo.common-bootstrap.min.css">
<link rel="stylesheet" href="/static/3rdparty/kendoui/styles/kendo.dataviz.min.css">
<link rel="stylesheet" href="/static/3rdparty/kendoui/styles/kendo.dataviz.bootstrap.min.css">

<!-- lodash -->
<script src="/static/3rdparty/lodash/lodash.js"></script>

<!-- knockout-kendo -->
<script src="/static/3rdparty/knockout-kendo/knockout-kendo.min.js"></script>

<!-- momentjs -->
<script src="/static/3rdparty/momentjs/moment.js"></script>

<!-- core -->
<script src="/static/core/js/dailysalesanalysis.js"></script>
<link rel="stylesheet" href="{{ NoCacheUrl "/static/core/css/dailysalesanalysis.css" }}" />

<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Daily Sales Analysis</h4>
            </div>
            <div class="panel-body">

                <div class="row navigation">
                    <div class="col-md-12 no-padding-left">
                            
                        <div class="col-md-3 no-padding-right">
                            <label>Sales Org</label>
                            <div>
                                <select data-bind="kendoDropDownList: { data: [], optionLabel: 'Select items' }" style="width: 100%;"></select>
                            </div>
                        </div>

                        <div class="col-md-3 no-padding-right">
                            <label>Geo Market</label>
                            <div>
                                <select data-bind="kendoDropDownList: { data: [], optionLabel: 'Select items' }" style="width: 100%;"></select>
                            </div>
                        </div>

                        <div class="col-md-3 no-padding-right">
                            <label>Sub Geo Market</label>
                            <div>
                                <select data-bind="kendoDropDownList: { data: [], optionLabel: 'Select items' }" style="width: 100%;"></select>
                            </div>
                        </div>

                        <div class="col-md-3 no-padding-right">
                            <label>Performing Orgs</label>
                            <div>
                                <select data-bind="kendoDropDownList: { data: [], optionLabel: 'Select items' }" style="width: 100%;"></select>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-3 no-padding-right">
                            <label>Profit Centres</label>
                            <div>
                                <select data-bind="kendoDropDownList: { data: [], optionLabel: 'Select items' }" style="width: 100%;"></select>
                            </div>
                        </div>

                        <div class="col-md-3 no-padding-right">
                            <label>Sub product line</label>
                            <div>
                                <select data-bind="kendoDropDownList: { data: [], optionLabel: 'Select items' }" style="width: 100%;"></select>
                            </div>
                        </div>

                        <div class="col-md-3 no-padding-right">
                            <label>Creator</label>
                            <div>
                                <select data-bind="kendoDropDownList: { data: [], optionLabel: 'Select items' }" style="width: 100%;"></select>
                            </div>
                        </div>

                        <div class="col-md-3 no-padding-right">
                            <label>Material Group</label>
                            <div>
                                <select data-bind="kendoDropDownList: { data: [], optionLabel: 'Select items' }" style="width: 100%;"></select>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="chart-analysis"></div>
            </div>
        </div>
    </div>

    <div class="col-md-3 no-padding-left">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Insights</h4>
            </div>
            <div class="panel-body">

                <div class="row navigation">
                    <div class="col-md-12">
                        <label>Group</label>
                        <div>
                            <select data-bind="kendoDropDownList: { data: dsa.filterInsightGroup, value: dsa.filterInsightGroupSelected, dataValueField: 'value', dataTextField: 'text', change: dsa.refreshChartDailySalesInsights }" style="width: 100%;"></select>
                        </div>
                    </div>
                </div>

                <div class="chart-insights"></div>
            </div>
        </div>
    </div>
</div>