<title>Loading ...</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="/static/core/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/core/img/favicon.ico" type="image/x-icon">

<!-- html5shiv -->
<!--[if lt IE 9]>
    <script src="/static/3rdparty/html5shiv/html5shiv.min.js"></script>
<![endif]-->

<!-- normalize -->
<link rel="stylesheet" href="/static/3rdparty/normalizecss/normalize.css">

<!-- jquery -->
<script src="/static/3rdparty/jquery/jquery-2.2.4.min.js"></script>
<script src="/static/3rdparty/jquery/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/static/3rdparty/jquery/jquery-ui.min.css">

<!-- bootstrap -->
<script src="/static/3rdparty/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/3rdparty/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/3rdparty/bootstrap/css/bootstrap-theme.min.css">

<!-- knockoutjs -->
<script src="/static/3rdparty/knockoutjs/knockout-3.4.2.js"></script>
<script src="/static/3rdparty/knockoutjs/knockout.mapping-2.4.1.js"></script>
<script src="/static/3rdparty/knockoutjs/knockout.validation.min.js"></script>

<!-- sweetalert -->
<script src="/static/3rdparty/sweetalert/sweetalert.min.js"></script> 
<link rel="stylesheet" href="/static/3rdparty/sweetalert/sweetalert.css">

<!-- spinkit -->
<link rel="stylesheet" href="/static/3rdparty/spinkit/9-cube-grid.css">

<!-- font-awesome -->
<link rel="stylesheet" href="/static/3rdparty/font-awesome/css/font-awesome.min.css">

<!-- animate.css -->
<link rel="stylesheet" href="/static/3rdparty/animatecss/animate.css">

<!-- main -->
<script>'use strict'; var viewModel = {};</script>
<script src="{{NoCacheUrl "/static/core/js/layout.js"}}"></script>
<link rel="stylesheet" href="{{NoCacheUrl "/static/core/css/fonts.css"}}">
<link rel="stylesheet" href="{{NoCacheUrl "/static/core/css/layout.css"}}">
